.timer {
	font-family: 'Ozone';
	font-size: 9rem;
	padding: 2rem;
	text-align: center;
	background-color: black;
	border: 2px solid white;
	border-radius: 0.2rem;
	box-shadow: 2px 2px 1px 0px rgba(41, 31, 16, 1);
}
