.container {
	background: linear-gradient(
			180deg,
			rgba(203, 112, 17, 0.3) 0%,
			rgba(25, 173, 34, 0.3) 100%
		),
		url('./background.jpg');
	background-size: cover;
	background-color: black;
	height: 100%;
	padding: 8rem 2rem;
}
